
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>QaDefault</title>
    <link href="~/Content/Activity/Zxdt/kankan/content/base.css" rel="stylesheet" />
    <link href="~/Content/Activity/Zxdt/kankan/content/style.css" rel="stylesheet" />
    <script src="~/Content/Activity/Zxdt/kankan/content/jquery.min.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/reset.font.js"></script>
</head>
<body>
    <img src="~/Content/Activity/Zxdt/kankan/content/20171220172158.jpg" class="img" alt="">
    <div class="main">
        <div class="page page_0">
            <div class="title"><em>3</em>、孕产妇系统保健管理要求产前检查次数不少于（）</div>
            <ul>
                <li class="a right" data-value="A"><em>A</em>5次</li>
                <li class="b " data-value="B"><em>B</em>8次</li>
                <li class="c " data-value="C"><em>C</em>6次</li>
                <li class="d " data-value="D"><em>D</em>3次</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>
                            A



                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_1 none">
            <div class="title"><em>3</em>、世界卫生组织（WHO）和联合国儿童基金会（UNICEF）联合倡议：在添加辅食的基础上，坚持哺乳（   ）个月。</div>
            <ul>
                <li class="a" data-value="A"><em>A</em>6个月</li>
                <li class="b" data-value="B"><em>B</em>12个月</li>
                <li class="c right active" data-value="C"><em>C</em>24个月</li>
                <li class="d" data-value="D"><em>D</em>36个月</li>
                <div class="zqda" style="display: none;">
                    <p>
                        正确答案：
                        <em>


                            C

                        </em>
                        我的答案：<i>D</i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_2 none">
            <div class="title"><em>3</em>、孕前你可以参加哪项检查预防出生缺陷？</div>
            <ul>
                <li class="a right active" data-value="A"><em>A</em>免费婚前医学检查、免费孕前检查</li>
                <li class="b" data-value="B"><em>B</em>智力测验</li>
                <li class="c" data-value="C"><em>C</em>21-三体综合征</li>
                <div class="zqda" style="display: none;">
                    <p>
                        正确答案：
                        <em>
                            A


                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_3 none">
            <div class="title"><em>3</em>、弓形虫感染需治愈（   ）后才能怀孕。</div>
            <ul>
                <li class="a " data-value="A"><em>A</em>3个月</li>
                <li class="b right" data-value="B"><em>B</em>6个月</li>
                <li class="c " data-value="C"><em>C</em>10个月</li>
                <li class="d " data-value="D"><em>D</em>2年</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>

                            B


                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_4 none">
            <div class="title"><em>3</em>、街道社区卫生服务中心为怀孕的妇女提供的孕期保健包括（）</div>
            <ul>
                <li class="a" data-value="A"><em>A</em>免费建立孕产期保健册（卡）</li>
                <li class="b" data-value="B"><em>B</em>免费5次产检</li>
                <li class="c" data-value="C"><em>C</em>免费艾滋病、梅毒、乙肝表面抗原检测</li>
                <li class="d right active" data-value="D"><em>D</em>以上都是</li>
                <div class="zqda" style="display: none;">
                    <p>
                        正确答案：
                        <em>



                            D
                        </em>
                        我的答案：<i>C</i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_5 none">
            <div class="title"><em>3</em>、孕妇孕早期检查的时间是指？</div>
            <ul>
                <li class="a right" data-value="A"><em>A</em>8周内</li>
                <li class="b " data-value="B"><em>B</em>13周内</li>
                <li class="c " data-value="C"><em>C</em>14周内</li>
                <li class="d " data-value="D"><em>D</em>16周内</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>
                            A



                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_6 none">
            <div class="title"><em>3</em>、下列有关地中海贫血叙述哪些是正确的？</div>
            <ul>
                <li class="a " data-value="A"><em>A</em>地中海贫血最常见的是α型和β型</li>
                <li class="b " data-value="B"><em>B</em>是单基因遗传性慢性溶血性疾病</li>
                <li class="c " data-value="C"><em>C</em>是福建省发病率最高的单基因遗传病之一</li>
                <li class="d right" data-value="D"><em>D</em>以上都是</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>



                            D
                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_7 none">
            <div class="title"><em>3</em>、关于胎动次数下列哪项提示胎儿缺氧（）。</div>
            <ul>
                <li class="a right" data-value="A"><em>A</em>胎动＜10次/12小时</li>
                <li class="b " data-value="B"><em>B</em>胎动＜15次/12小时</li>
                <li class="c " data-value="C"><em>C</em>胎动＜20次/12小时</li>
                <li class="d " data-value="D"><em>D</em>胎动＜25次/12小时</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>
                            A



                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_8 none">
            <div class="title"><em>3</em>、丰泽区惠民政策之一的“两项免费产前筛查”，具体是指哪两项？</div>
            <ul>
                <li class="a right" data-value="A"><em>A</em>怀孕15-20周的唐氏筛查</li>
                <li class="b " data-value="B"><em>B</em>孕酮、血β-HCG</li>
                <li class="c right" data-value="C"><em>C</em>怀孕22-24周的三级彩超检查</li>
                <li class="d " data-value="D"><em>D</em>羊水穿刺产前诊断</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>
                            A

                            C

                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <div class="page page_9 none">
            <div class="title"><em>3</em>、婚前医学检查的四个有利的内容是什么？</div>
            <ul>
                <li class="a right" data-value="A"><em>A</em>有利于男女平等和下一代健康；</li>
                <li class="b right" data-value="B"><em>B</em>有利于提高出生人口素质；</li>
                <li class="c right" data-value="C"><em>C</em>有利于促夫妻生活的和谐；</li>
                <li class="d right" data-value="D"><em>D</em>有利于有效的实现生育计划</li>
                <div class="zqda">
                    <p>
                        正确答案：
                        <em>
                            A
                            B
                            C
                            D
                        </em>
                        我的答案：<i></i>
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn-00 btn-xyt" style="background:url(../Content/Activity/Zxdt/kankan/content/20171102102845.png) no-repeat 0 0;background-size:100% 100%;">下一题</a>
                <div class="pic-01"></div>
                <span class="icon-right none">对</span>
                <span class="icon-wrong none">错</span>
            </ul>
        </div>
        <!--问题条数-->
        <input type="hidden" id="questionListSize" value="@ViewBag.Tmts">
    </div>
    <!--全部答对弹出窗s-->
    <div id="qbdd-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_01.jpg" alt="">
                <br>
                <strong style="color:#ff0000">
                    感谢您的积极参与，请点击右上角转发朋友圈
                    您的100M流量正在来的路上
                </strong>
            </ul>
            <!-- <div class="btn-orange" ><a href="javascript:void(0)" onClick="myrefresh();">确定</a></div> -->
        </div>
    </div>
    <!--全部答对弹出窗e-->
    <!--全部答对去抽奖弹出窗s-->
    <div id="qbdd1-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_01.jpg" alt="">
                <br>
                <strong style="color:#ff0000">恭喜您全部答对！</strong>
                <p>快去抽奖吧！</p>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)">确定</a></div>
        </div>
    </div>
    <!--全部答对去抽奖弹出窗e-->
    <!--未全部答对弹出窗s-->
    <div id="qbdc-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_02.jpg" alt="">
                <br>
                <strong style="color:#ff0000">很遗憾,您未全部答对,请下次再来吧!</strong>
            </ul>
            <!-- <div class="btn-orange" ><a href="javascript:void(0)" onClick="myrefresh();">确定</a></div> -->
        </div>

    </div>
    <!--未全部答对弹出窗e-->
    <!--活动结束弹出窗s-->
    <div id="finish-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p>不好意思，本期活动已结束，敬请期待下期活动！</p>
            </ul>
        </div>
    </div>
    <!--活动结束弹出窗e-->
    <!--已参加过活动弹出窗s-->
    <div id="alreadyJoin-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p>不好意思，您已经参加过活动了！</p>
            </ul>
        </div>
    </div>
    <!--已参加过活动弹出窗e-->
    <!--活动未开始弹出窗s-->
    <div id="notStart-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p class="c-align">不好意思，活动未开始！</p>
            </ul>
        </div>
    </div>
    <div id="common-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p class="c-align" id="message">不好意思，活动未开始！</p>
            </ul>
        </div>
    </div>
    <!--活动未开始弹出窗e-->
    <!--手机输入框弹出窗s-->
    <div id="tel-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="tel-area">
                <div><input type="text" maxlength="11" name="" id="phone_input" value="" placeholder="请输入手机号开始答题"></div>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)" onclick="savePhone();">确定</a></div>
        </div>
    </div>
    <!--手机输入框弹出窗e-->
    <!--答题详情弹出窗s-->
    <div id="jzjl-dialog" class="dialog dialog-none" style="margin-top:-4.1rem;">
        <div class="dialog-box">
            <h1>我的答题详情</h1>
            <ul class="jzjl-area">
                <h2>答对<em id="rightNumEm">5</em>题，答错<em id="wrongNumEm">5</em>题</h2>
                <table id="tailTable" width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                    <tbody>
                        <tr>
                            <th>题目</th>
                            <th>正确答案</th>
                            <th>我的答案</th>
                        </tr>
                        <tr><td>第1题</td><td>C </td><td>C </td></tr>
                        <tr><td>第2题</td><td>D </td><td>D </td></tr>
                    </tbody>
                </table>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)" id="detailCloseBtn" onclick="closepop('jzjl-dialog','dialog-bg');showpop('qbdd-dialog','dialog-bg');">确定</a></div>
        </div>
    </div>
    <!--答题详情弹出窗e-->
    <div id="dialog-bg" class="dialog-bg dialog-none"></div>
    <input name="" type="hidden" id="score" value="0">
    <!--答错题目数-->
    <input name="" type="hidden" id="wrongNum" value="0">
    <!--当前答题明细-->
    <input name="" type="hidden" id="detailContent" value="1、世界卫生组织（WHO）和联合国儿童基金会（UNICEF）联合倡议：在添加辅食的基础上，坚持哺乳（   ）个月。C24个月2、街道社区卫生服务中心为怀孕的妇女提供的孕期保健包括（）D以上都是">
    <input type="hidden" id="appId" name="appId" value="@ViewBag.appid">
    <input type="hidden" id="timestamp" name="timestamp" value="@ViewBag.timestamp">
    <input type="hidden" id="noncestr" name="noncestr" value="@ViewBag.noncestr">
    <input type="hidden" id="signatrue" name="signatrue" value="@ViewBag.signatrue">
    <input type="hidden" id="remoteIp" name="remoteIp" value="@ViewBag.RemoteIP">
    <input type="hidden" id="openId" name="openId" value="@ViewBag.openid">
    <input type="hidden" id="phone" name="phone" value="@ViewBag.curphone">
    <input type="hidden" id="id" name="id" value="629">
    <!--0为不能开始-->
    <input type="hidden" id="activityUnStart" name="activityUnStart" value="">
    <!--不能开始的提示-->
    <input type="hidden" id="activityUnStartHint" name="activityUnStartHint" value="">
    <!--0为活动结束-->
    <input type="hidden" id="activityEnd" name="activityEnd" value="">
    <!--活动结束的提示-->
    <input type="hidden" id="activityEndHint" name="activityEndHint" value="">
    <input type="hidden" id="toDayIsUnStart" name="toDayIsUnStart" value="">
    <input type="hidden" id="todayUnStartHint" name="todayUnStartHint" value="">
    <input type="hidden" id="toDayIsEnd" name="toDayIsEnd" value="">
    <input type="hidden" id="personEnd" name="personEnd" value="">
    <input type="hidden" id="personNoChance" name="personNoChance" value="">
    <input type="hidden" id="personDayEnd" name="personDayEnd" value="">
    <!--提交按钮-->
    <input type="hidden" id="picture3" name="picture3" value="~/Content/Activity/Zxdt/kankan/content/20171102102933.png">
    <!--分享的标题-->
    <input type="hidden" id="shareTitl" name="shareTitl" value="@ViewBag.WxTitle">
    <!--分享的描述-->
    <input type="hidden" id="shareContent" name="shareContent" value="@ViewBag.ShareContent">
    <!--分享链接的地址-->
    <input type="hidden" id="shareUrl" name="shareUrl" value="@ViewBag.ShareUrl">
    <!--分享链接上的小图标-->
    <input type="hidden" id="shareImgPath" name="shareImgPath" value="@ViewBag.ShareImgPath">
    <!--展示条数,如果与questionListSize不一致,使用questionListSize修改showQestionNum-->
    <input type="hidden" id="showQestionNum" name="showQestionNum" value="@ViewBag.Tmts">
    <!--是否显示正确的tip-->
    <input type="hidden" id="isShowRightTip" name="isShowRightTip" value="0">
    <!--为0时展示当前题目-->
    <input type="hidden" id="isRandom" name="isRandom" value="0">
    <input type="hidden" id="isRecordResult" name="isRecordResult" value="1">
    <!--如果为1,不提示错误答案-->
    <input type="hidden" id="isRightGo" name="isRightGo" value="0">
    <!--背景音乐s-->
    <script type="text/javascript" src="~/Content/Activity/Zxdt/kankan/content/music.js"></script>
    <!--背景音乐e-->
    <script src="~/Content/Activity/Zxdt/kankan/content/randomQ.js?s=20171115"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/index.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/touch.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/sha1.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/wxshare.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/jweixin-1.0.0.js"></script>
    <script>

//function audioAutoPlay(id){
//	var audio = document.getElementById(id);
//	audio.play();
//    document.addEventListener("WeixinJSBridgeReady", function () {
//            audio.play();
//    }, false);
//    document.addEventListener('YixinJSBridgeReady', function() {
//    	audio.play();
//    }, false);
//}
//audioAutoPlay('mp3Btn');
    </script>
</body>
</html>
