<!DOCTYPE html>

<html style="font-size: 53.3333px;height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.ptitle</title>
    <link href="~/Content/Activity/Zxdt/kankan/content/base.css" rel="stylesheet" />
    <link href="~/Content/Activity/Zxdt/kankan/content/style.css" rel="stylesheet" />
    <script src="~/Content/Activity/Zxdt/kankan/content/jquery.min.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/reset.font.js"></script>
    <style type="text/css">		
		.one,.main{width:100%; margin:0 auto; background:url(../content/Activity/Zxdt/kankan/content/688947237576811649.png) center top no-repeat; background-size:100% 100%;}
		.one{position:absolute; left:0; right:0; top:0; bottom:0; margin:0 auto;}/**/
		.one button{position:absolute; left:50%; top:60%; margin:0 0 0 -1rem; width:2rem; height:.7rem; font-size:.3rem; color:#f60; font-weight:bold; border:.02rem solid #FEE900; outline:0; -web-kit-appearance:none; -moz-appearance: none; border-radius:.35rem; background:#FEFB00;
        -webkit-box-shadow:0 0 .25rem rgba(0, 0, 0, .5) , -.05rem -.05rem .1rem rgba(250,150,0,.5) inset;
		-moz-box-shadow:0 0 .25rem rgba(0, 0, 0, .5) , -.05rem -.05rem .1rem rgba(250,150,0,.5) inset;
		box-shadow:0 0 .25rem rgba(0, 0, 0, .5) , -.05rem -.05rem .1rem rgba(250,150,0,.5) inset;
		}
		.one .ranlist_role{position:absolute; left:0; right:0; top:70%;}
		.one .ranlist_role button{top:0; margin:0;}
		.one .ranlist_role button.huodongsm{left:.3rem;}
		.one .ranlist_role button.datixq{left:auto; right:.3rem;}
		
		.black{position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,.7); display:none;/**/}
		.black .shuoming,.black .xiangqing{position:absolute; left:.6rem; right:.6rem; top:.6rem; bottom:.6rem; font-size:.3rem; background:#fff; border-radius:.2rem; display:none;/**/}
		.black .shuoming div,.black .xiangqing div{position:absolute; left:.3rem; right:.3rem; top:.8rem; bottom:.3rem; overflow:hidden; overflow-y:auto;}
		.black i{background:#000; display:block; position:absolute; right:.2rem; top:.2rem; width:.5rem; height:.5rem; line-height:.5rem; text-align:center; border-radius:50%; color:#fff;}
		.black .xiangqing div table{border:.03rem solid #ddd; border-right:0; border-bottom:0;}
		.black .xiangqing div table td,.black .xiangqing div table th{text-align:center; border:.03rem solid #ddd; border-top:0; border-left:0; line-height:.6rem; font-size:.3rem}
		.black .xiangqing div table th{background:#eee;}
		
		.main{ position:relative;width:100%;}
		.main:before,.main:after{content:""; display:block; height:1px; width:100%;}
		.page{margin:20% .3rem 0; border-radius:.2rem; padding:.5rem 0; background:rgba(255,255,255,.8); -webkit-box-shadow:0 0 .25rem rgba(0, 0, 0, .3); -moz-box-shadow:0 0 .25rem rgba(0, 0, 0, .3); box-shadow:0 0 .25rem rgba(0, 0, 0, .3);}
		.page .title{padding:0 .4rem;}
    </style>
    <script type="text/javascript">
        $(function () {
            //开始答题
            $(".start").click(function () {
                if (checkMobile()) {
                    $(".one").css("display", "none");
                    $(".main").css("display", "block");
                    $(".start").unbind("click");
                }
            });
            //改变背景
            chg_bg = function () {
                var bgurl = '@ViewBag.bgurl';
                if (bgurl != "") {
                    console.log($(".one.main"))
                    $(".one")[0].style.backgroundImage = "url(" + bgurl + ")";
                    $(".main")[0].style.backgroundImage = "url(" + bgurl + ")";
                }
            }
            chg_bg();   //初始调用，改变背景图
			var wh = $(window).height();
			var mh = $(".main").height();
			mainheight(wh, mh);
			$(window).resize(function () {
			    var wh = $(window).height();
			    var mh = $(".main").height();
			    mainheight(wh, mh);
			});
			function mainheight(wh, mh) {
			    if (mh < wh) {
			        $(".main").css("height", wh)
			    } else {
			        $(".main").css("height", "auto")
			    }
			}
            //活动说明
			$(".huodongsm").click(function(){
				$(".black").css("display","block");
				$(".shuoming").css("display", "block");
			});
            //答题详情
			$(".datixq").click(function(){
				$(".black").css("display","block");
				$(".xiangqing").css("display", "block");
				opendtdetail();
			});
            //关闭
			$(".close").click(function(){
				$(this).parent().css("display","none");
				$(this).parent().parent().css("display", "none");
			});
		})
		//答题详情
		opendtdetail = function () {
		    var cooperid = $("#cooperid").val();
		    var openid = $("#openId").val();
		    $.getJSON("/Zxdt/ZxdtDrawLog", { cooperid: cooperid, openid: openid }, function (ret) {
		        if (ret.success) {
		            var str = "";
		            $.each(ret.jsonresult, function (i, o) {
		                str += "<tr><td>" + o.addtime + "</td><td>" + o.score + "</td></tr>";
		            })
		            $(".xiangqing tbody").html(str);
		        }
		    })
		}
		//添加分享记录
		activityshare = function (sharetype) {
		    var cooperid = $("#cooperid").val();
		    var openid = $("#openId").val();
		    $.ajax({
		        type: "post",
		        url: "/Zxdt/ZxdtShare",
		        data: { cooperid: cooperid, openid: openid, sharetype: sharetype },
		        async: false,
		        success: function (ret) {
		            if (ret.success) {
		                window.location.href = window.location.href + "&id=" + 10000 * Math.random();
		            }
		        }
		    });
		}
    </script>
</head>
<body>
    <div class="one">
        <button class="start">开始答题</button>
        <div class="ranlist_role">
            <button class="huodongsm">活动说明</button>
            <button class="datixq">答题详情</button>
        </div>
    </div>

    <div class="black">
        <div class="shuoming">
            <i class="close">X</i>
            <div>@Html.Raw(ViewBag.explain)</div>
        </div>
        <div class="xiangqing">
            <i class="close">X</i>
            <div>
                <table width="100%;" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>分数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="main" style="display:none;">
        @Html.Raw(ViewBag.list)
        <!--问题条数-->
        <input type="hidden" id="questionListSize" value="@ViewBag.Tmts">
    </div>
    <!--全部答对弹出窗s-->
    <div id="qbdd-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_01.jpg" alt="">
                <br>
                <strong style="color:#ff0000">
                    感谢您的积极参与，请点击右上角转发朋友圈
                    您的流量正在来的路上
                </strong>
            </ul>
            <!-- <div class="btn-orange" ><a href="javascript:void(0)" onClick="myrefresh();">确定</a></div> -->
        </div>
    </div>
    <!--全部答对弹出窗e-->
    <!--全部答对去抽奖弹出窗s-->
    <div id="qbdd1-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_01.jpg" alt="">
                <br>
                <strong style="color:#ff0000">恭喜您全部答对！</strong>
                <p>快去抽奖吧！</p>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)">确定</a></div>
        </div>
    </div>
    <!--全部答对去抽奖弹出窗e-->
    <!--未全部答对弹出窗s-->
    <div id="qbdc-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_02.jpg" alt="">
                <br>
                <strong style="color:#ff0000">很遗憾,您未全部答对,请下次再来吧!</strong>
            </ul>
            <!-- <div class="btn-orange" ><a href="javascript:void(0)" onClick="myrefresh();">确定</a></div> -->
        </div>

    </div>
    <!--未全部答对弹出窗e-->
    <!--活动结束弹出窗s-->
    <div id="finish-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p>不好意思，本期活动已结束，敬请期待下期活动！</p>
            </ul>
        </div>
    </div>
    <!--活动结束弹出窗e-->
    <!--已参加过活动弹出窗s-->
    <div id="alreadyJoin-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p>不好意思，您已经参加过活动了！</p>
            </ul>
        </div>
    </div>
    <!--已参加过活动弹出窗e-->
    <!--活动未开始弹出窗s-->
    <div id="notStart-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p class="c-align">不好意思，活动未开始！</p>
            </ul>
        </div>
    </div>
    <div id="common-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="txt-area">
                <img src="~/Content/Activity/Zxdt/kankan/content/icon_03.jpg" alt="">
                <p class="c-align" id="message">不好意思，活动未开始！</p>
            </ul>
        </div>
    </div>
    <!--活动未开始弹出窗e-->
    <!--手机输入框弹出窗s-->
    <div id="tel-dialog" class="dialog dialog-none">
        <div class="dialog-box">
            <ul class="tel-area">
                <div><input type="text" maxlength="11" name="" id="phone_input" value="" placeholder="请输入手机号开始答题"></div>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)" onclick="savePhone();">确定</a></div>
        </div>
    </div>
    <!--手机输入框弹出窗e-->
    <!--答题详情弹出窗s-->
    <div id="jzjl-dialog" class="dialog dialog-none" style="margin-top:-4.1rem;">
        <div class="dialog-box">
            <h1>我的答题详情</h1>
            <ul class="jzjl-area">
                <h2>答对<em id="rightNumEm">5</em>题，答错<em id="wrongNumEm">5</em>题</h2>
                <table id="tailTable" width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                    <tbody>
                        <tr>
                            <th>题目</th>
                            <th>正确答案</th>
                            <th>我的答案</th>
                        </tr>
                    </tbody>
                </table>
            </ul>
            <div class="btn-orange"><a href="javascript:void(0)" id="detailCloseBtn" onclick="closepop('jzjl-dialog','dialog-bg');showpop('qbdd-dialog','dialog-bg');">确定</a></div>
        </div>
    </div>
    <!--答题详情弹出窗e-->
    <div id="dialog-bg" class="dialog-bg dialog-none"></div>
    <input name="" type="hidden" id="score" value="0">
    <!--答错题目数-->
    <input name="" type="hidden" id="wrongNum" value="0">
    <!--当前答题明细-->
    <input name="" type="hidden" id="detailContent" value="1、世界卫生组织（WHO）和联合国儿童基金会（UNICEF）联合倡议：在添加辅食的基础上，坚持哺乳（   ）个月。C24个月2、街道社区卫生服务中心为怀孕的妇女提供的孕期保健包括（）D以上都是">
    <input type="hidden" id="openId" name="openId" value="@ViewBag.openid">
    <input type="hidden" id="phone" name="phone" value="@ViewBag.curphone">
    <input type="hidden" id="cooperid" name="cooperid" value="@ViewBag.cooperid">
    <input type="hidden" id="lotteyn" name="lotteyn" value="@ViewBag.lotteyn">
    <input type="hidden" id="appId" name="appId" value="@ViewBag.appid">
    <input type="hidden" id="timestamp" name="timestamp" value="@ViewBag.timestamp">
    <input type="hidden" id="noncestr" name="noncestr" value="@ViewBag.noncestr">
    <input type="hidden" id="signatrue" name="signatrue" value="@ViewBag.signatrue">
    <input type="hidden" id="remoteIp" name="remoteIp" value="@ViewBag.RemoteIP">
    <input type="hidden" id="area" name="area" value="@ViewBag.areatype">
    
    
    <input type="hidden" id="tmfs" name="tmfs" value="@ViewBag.tmfs">
    <input type="hidden" id="id" name="id" value="629">
    <!--0为不能开始-->
    <input type="hidden" id="activityUnStart" name="activityUnStart" value="">
    <!--不能开始的提示-->
    <input type="hidden" id="activityUnStartHint" name="activityUnStartHint" value="">
    <!--0为活动结束-->
    <input type="hidden" id="activityEnd" name="activityEnd" value="@ViewBag.activityEnd">
    <!--活动结束的提示-->
    <input type="hidden" id="activityEndHint" name="activityEndHint" value="@ViewBag.activityEndTips">
    <input type="hidden" id="toDayIsUnStart" name="toDayIsUnStart" value="">
    <input type="hidden" id="todayUnStartHint" name="todayUnStartHint" value="">
    <input type="hidden" id="toDayIsEnd" name="toDayIsEnd" value="">
    <input type="hidden" id="personEnd" name="personEnd" value="">
    <input type="hidden" id="personNoChance" name="personNoChance" value="没有足够的机会的参与了.">
    <input type="hidden" id="personDayEnd" name="personDayEnd" value="">
    <!--提交按钮-->
    <input type="hidden" id="picture3" name="picture3" value="~/Content/Activity/Zxdt/kankan/content/20171102102933.png">
    <!--分享的标题-->
    <input type="hidden" id="shareTitl" name="shareTitl" value="@ViewBag.WxTitle">
    <!--分享的描述-->
    <input type="hidden" id="shareContent" name="shareContent" value="@ViewBag.ShareContent">
    <!--分享链接的地址-->
    <input type="hidden" id="shareUrl" name="shareUrl" value="@ViewBag.ShareUrl">
    <!--分享链接上的小图标-->
    <input type="hidden" id="shareImgPath" name="shareImgPath" value="@ViewBag.ShareImgPath">
    <!--展示条数,如果与questionListSize不一致,使用questionListSize修改showQestionNum-->
    <input type="hidden" id="showQestionNum" name="showQestionNum" value="@ViewBag.Tmts">
    <!--是否显示正确的tip-->
    <input type="hidden" id="isShowRightTip" name="isShowRightTip" value="0">
    <!--为0时展示当前题目-->
    <input type="hidden" id="isRandom" name="isRandom" value="0">
    <input type="hidden" id="isRecordResult" name="isRecordResult" value="1">
    <!--2答错也继续,1只有答对才继续 -->
    <input type="hidden" id="isRightGo" name="isRightGo" value="@ViewBag.sright">
    <!--背景音乐s-->
    <script type="text/javascript" src="~/Content/Activity/Zxdt/kankan/content/music.js"></script>
    <!--背景音乐e-->
    <script src="~/Content/Activity/Zxdt/kankan/content/randomQ.js?s=20171115"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/index.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/touch.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/sha1.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/wxshare.js?v=4"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/jweixin-1.0.0.js"></script>
    <script>

//function audioAutoPlay(id){
//	var audio = document.getElementById(id);
//	audio.play();
//    document.addEventListener("WeixinJSBridgeReady", function () {
//            audio.play();
//    }, false);
//    document.addEventListener('YixinJSBridgeReady', function() {
//    	audio.play();
//    }, false);
//}
//audioAutoPlay('mp3Btn');
    </script>
</body>
</html>
